#photographer-section .img-photographer {
  height: 250px;
  width: 250px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  border-radius: 125px;
  object-fit: cover;
}

#photograph-header .img-photographer {
  height: 200px;
  width: 200px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  object-fit: cover;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 1920px;
  margin-top: 30px;
  position: relative;
}

header {
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  margin-top: 100px;
  margin: 30px 5% 0px;
  height: 90px;
}

.logo {
  height: 50px;
}

.sr-only {
  height: 1px;
  width: 1px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: -10000px;
}

a {
  text-decoration: none;
}

#orderby-container {
  margin: 30px 0px;
  display: flex;
  flex-direction: row;
}
#orderby-container #navbar-label {
  font-size: 18px;
  font-weight: bold;
  margin-right: 30px;
  margin-top: 10px;
}

#navbar-container {
  width: 150px;
  height: 50px;
  position: relative;
  color: white;
}
#navbar-container a {
  padding-left: 10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
#navbar-container a:focus-visible, #navbar-container a:hover {
  outline: none;
  font-size: 1.2em;
}

#navbar {
  width: 150px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}
#navbar li {
  background-color: #901C1C;
  width: 150px;
  height: 50px;
  float: left;
  text-align: left;
  list-style: none;
  margin: 0;
}
#navbar li:hover ul {
  display: block;
}
#navbar li ul {
  display: none;
  width: 150px;
  margin: 0;
  margin-left: 12px;
  margin-top: -4px;
  padding: 0;
}
#navbar li ul li:nth-child(2) {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#navbar li ul li:nth-child(1) a {
  width: 80%;
  height: 50px;
  border-radius: 0px;
  border-top: 1px solid white;
  margin: 0 auto;
}
#navbar li ul li:nth-child(2) a {
  border-top: 1px solid white;
  margin: 0 auto;
  width: 80%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#navbar li a {
  text-decoration: none;
  display: block;
  height: 50px;
  width: 80%;
  margin: 0 auto;
  line-height: 50px;
  border-radius: 5px;
  position: relative;
}
#navbar li a::after {
  content: "";
}
#navbar li a:hover {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

#orderby1:focus, #orderby2:focus, #orderby3:focus {
  color: orange;
}
#orderby1:focus-visible, #orderby2:focus-visible, #orderby3:focus-visible {
  color: yellow;
}

#ssnavbar {
  position: relative;
  margin-top: -15px;
}
#ssnavbar li {
  margin-left: -12px;
  position: absolute;
  left: 0;
}
#ssnavbar li:nth-child(1) {
  top: 0px;
}
#ssnavbar li:nth-child(2) {
  top: 50px;
}

#navbar > li {
  position: relative;
  border-radius: 5px;
}
#navbar > li::after {
  color: white;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  font: var(--fa-font-solid);
  content: "\f078";
}
#navbar > li:hover::after {
  font: var(--fa-font-solid);
  content: "\f077";
}

@media screen and (max-width: 780px) {
  #orderby-container {
    justify-content: center;
  }
  #orderby-container #navbar-label {
    font-size: 14px;
  }
}
#modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.4);
}
#modal-container #modal {
  margin: 6% auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #D3573C;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
  height: 800px;
}
#modal-container #modal #modal-header {
  padding: 15px 6%;
  margin: 15px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
#modal-container #modal #modal-header #modal-close-button {
  cursor: pointer;
  background-color: transparent;
}
#modal-container #modal #modal-header #modal-close-button:focus {
  border: none;
}
#modal-container #modal #modal-header h1 {
  font-size: 40px;
  font-weight: normal;
  text-align: left;
  color: black;
  margin: 0px;
}
#modal-container #modal .modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}

#modal-button {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
#modal-button:hover, #modal-button:focus {
  color: black;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: flex-start;
  gap: 0px;
  margin-top: 10px 0px;
}
form .formData {
  width: 100%;
}
form label {
  color: #312E2E;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 5px;
}
form input, form textarea {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
  font-family: "DM Sans", sans-serif;
}
form .text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
}

.formData[data-error-visible=true] .text-control {
  border: 1px solid yellow;
}

.formData[data-error-visible=true] .text-control:focus-visible {
  outline: 1px solid yellow;
}

.textError {
  font-size: 1em;
  color: yellow;
  display: block;
  margin-top: 5px;
  text-align: left;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  #modal-container #modal {
    gap: 0px;
    height: 800px;
    padding: 20px 0px;
  }
  #modal-container #modal #modal-header {
    align-items: flex-start;
    margin: 0;
  }
  #modal-container #modal #modal-header h1 {
    font-size: 30px;
  }
  #modal-container #modal #modal-close-button > img {
    width: 32px;
  }
  #formContact .formData {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 425px) {
  #modal-container #modal {
    gap: 0px;
    height: 670px;
  }
  #modal-container #modal #modal-header {
    align-items: flex-start;
    margin: 0;
  }
  #modal-container #modal #modal-header h1 {
    font-size: 23px;
  }
  #modal-container #modal #modal-close-button > img {
    width: 20px;
  }
  #formContact .formData {
    margin-bottom: 0px;
  }
  .textError {
    font-size: 0.6em;
    color: yellow;
    display: block;
    margin-top: 5px;
    text-align: left;
    opacity: 0;
  }
  form {
    width: 90%;
  }
  form label, form .text-control {
    font-size: 15px;
  }
}
#carrousel {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
#carrousel ul#carrousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  position: relative;
  display: none;
}
#carrousel ul#carrousel-container article img, #carrousel ul#carrousel-container article video {
  max-width: 80vw;
  max-height: 80vh;
}
#carrousel ul#carrousel-container li.carrousel-item {
  list-style-type: none;
}
#carrousel ul#carrousel-container li.carrousel-item article .photo-title {
  color: #901C1C;
  font-size: 24px;
}

.carrousel-close-button {
  position: absolute;
  right: -60px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.carrousel-close-button svg path {
  fill: #901C1C;
}

.display-none {
  display: none;
}

.carrousel-item {
  position: relative;
}

.controls {
  color: #901C1C;
  border: none;
  background: none;
}
.controls-left {
  position: absolute;
  top: 45%;
  left: -30px;
  transform: translate(-50%, -50%);
}
.controls-right {
  position: absolute;
  top: 45%;
  right: -60px;
  transform: translate(-50%, -50%);
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 40px;
}

header > h1 {
  color: #901C1C;
  text-align: right;
}

#photographer-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3%;
  flex-wrap: wrap;
  margin-top: 50px;
}
#photographer-section article {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  min-width: 300px;
  width: 30%;
  margin-bottom: 50px;
}
#photographer-section article a:link {
  text-decoration: none;
}
#photographer-section article a {
  text-align: center;
}
#photographer-section article h2 {
  color: #D3573C;
  font-size: 30px;
  font-weight: 400;
  margin: 0px;
  white-space: nowrap;
}
#photographer-section article .infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
#photographer-section article .infos p {
  margin: 0px;
  font-size: 16px;
  color: black;
}
#photographer-section article .infos p.price {
  color: #757575;
  font-size: 15px;
}
#photographer-section article .infos .localisation {
  color: #901C1C;
  font-size: 20px;
}

@media screen and (max-width: 780px) {
  #photographer-section > article {
    width: 100%;
    margin-top: 70px;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    margin-top: 50px;
  }
}
@media screen and (min-width: 780px) and (max-width: 1070px) {
  #photographer-section > article {
    width: 47%;
  }
}
.no-scroll {
  overflow: hidden;
}

#photograph-header {
  background-color: #FAFAFA;
  height: 300px;
}
#photograph-header article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 50px;
  height: 100%;
}
#photograph-header h1 {
  color: #D3573C;
  font-size: 64px;
  margin: 10px 0px;
}
#photograph-header .localisation {
  color: #D3573C;
  font-size: 24px;
}
#photograph-header .tagline {
  color: #525252;
  font-size: 18px;
}

.contact-button {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
.contact-button:hover, .contact-button:focus {
  color: black;
  background-color: #D3573C;
}

#photograph-header, #portfolio-container {
  margin: auto 5%;
  max-width: 1920px;
}

#portfolio-container {
  position: relative;
}

#portfolio {
  position: absolute;
  top: 100px;
  z-index: -1;
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: 5%;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
#portfolio article > a > img, #portfolio article > a > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
#portfolio article {
  width: 30%;
  height: 400px;
  margin-bottom: 100px;
  border-radius: 5px;
  position: relative;
}
#portfolio article i {
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 60px;
  transform: translate(-50%, -50%);
}
#portfolio article:nth-child(3n+1) {
  justify-self: left;
}
#portfolio article:nth-child(3n+2) {
  justify-self: center;
}
#portfolio article:nth-child(3n+3) {
  justify-self: right;
}
#portfolio article .photo-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  gap: 5px;
  color: #901C1C;
  height: 30px;
}
#portfolio article .photo-infos a {
  color: #901C1C;
}
#portfolio article .photo-infos .noClicable {
  color: #D3573C;
}
#portfolio article .photo-title {
  font-size: 24px;
  margin: 0;
}

.likes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  font-size: 24px;
  cursor: pointer;
}

.video-container {
  position: relative;
}
.video-container i {
  position: absolute;
  top: 0;
  left: 0;
}

#bottom-likes {
  position: fixed;
  right: 10vw;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  padding: 10px 20px;
  background-color: #DB8876;
  width: 300px;
  height: 60px;
  border-radius: 5px;
}
#bottom-likes .price {
  font-size: 24px;
}

@media screen and (max-width: 780px) {
  #photograph-header {
    height: auto;
    padding: 20px;
  }
  #photograph-header h1 {
    font-size: 46px;
  }
  #photograph-header article {
    flex-direction: column-reverse;
    margin: 0px;
    padding: 0px 20px;
  }
  #photograph-header article .contact-button {
    height: 50px;
  }
  .photograph-infos {
    text-align: center;
  }
  .photograph-infos h1,
.photograph-infos .localisation,
.photograph-infos .tagline {
    margin: 0px;
  }
  #portfolio > article {
    width: 100%;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    margin-top: 50px;
  }
}
@media screen and (min-width: 780px) and (max-width: 1070px) {
  #photograph-header h1 {
    font-size: 46px;
  }
  #photograph-header article {
    margin: 0px;
    padding: 0px 20px;
  }
  #portfolio > article {
    width: 47%;
  }
}
